
.contact{
 padding-top: 200px;
}

.row-form{
  padding-top: 30px;
}

.email{
  margin-top:65px;
}

.message{
  margin-top:40px;
}

.contact-data{
  margin-top: 18px;
  line-height:33px;
}

.adress, .phone{
  margin-bottom: 18px;
}
.button{
  padding-top:0;
}
